@charset "utf-8";


/*
step 1
declare some SASS Variables
*/
$lightcolor1: rgb(248, 255, 240);
$lightcolor2: #fbd5b2;
$darkColor: #173f4d;
$backgroundColor: #73877B;
$accentColor: #f36767;

@mixin bordered($x, $y, $a, $b, $round-corners) {
    box-shadow: $darkColor $x $y $a $b;
    border-radius: $round-corners;
    // $border-radius:;
}

html, body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

*, *:before, *:after {
	box-sizing: inherit;
}
body{
    padding-top: 60px;
    background-color: $backgroundColor;
}

img{
    width: 51px;
    height: 51px;
}

.container{
    width: 600px;
    text-align: center;
    margin: 0 auto;
    background-color: #fbd5b2;
    // box-shadow: rgb(23, 63, 77)    ;
    padding: 50px;
    // border-radius: 10%;
    @include bordered(-2px, 6px, 18px, 3px, 10%)
}

.players{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* justify-content:center; */

}
.diceContainer
{
    display: flex;
}
.dice{
    border-radius: 15%;
    width: 50px;
    height: 50px;
    background-color: rgb(248, 255, 240);
    margin: 25px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.player1, .player2{
    /* border:solid #173f4d; */
    /* margin: 20px; */
}

button{
    margin-top: 30px;
    border: none;
    padding: 20px;
    font-size: 18px;
    /* height: 40px; */
    color: #173f4d;
    border-radius: 10%;
    cursor: pointer;
}

#rollbtn:disabled{
    /* background-color: #73877B;
    color: #173f4d8b; */
        display: none;

}

#rollbtn, #newGamebtn{
    background-color: $accentColor;
}

#newGamebtn{
    /* background-color: #f36767; */
}

#newGamebtn:disabled{
        display: none;

}



#rollbtn:hover, #newGamebtn:hover{
    background-color: #f367677a;
}

.active{
    @include bordered(0px, 6px, 5px, 3px, 7px)
    
}

#popup{
    width: 400px;
    position: absolute;
    top: 20%;
    left: 30%;
    background-color: $accentColor;
    color: $lightcolor2;
    padding: 1% 5% 25px;
    border: solid 1px #173f4d;
    display: none;
    @include bordered(0px, 6px, 5px, 3px, 7px)
}

#closePopUp{
    position: absolute;
    top: 80%;
    right: 6%;
    font-family: sans-serif;
    cursor: pointer;
}

#popup a{
    background-color: $backgroundColor;
    color: $darkColor;
    padding: 10px;
    border-radius: 10%;
}

#popup a:hover{
    background-color: $lightcolor2;
}